/******************************************************************************\
|                                                                              |
|                               lightboxes.scss                                |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|     Copyright (C) 2025, Data Science Institute, University of Wisconsin      |
\******************************************************************************/

.fancybox-caption {
	font-family: sans-serif;
	font-weight: bold;
}

.fancybox-is-open .fancybox-bg {
	opacity: 1;
}