/******************************************************************************\
|                                                                              |
|                                   maps.css                                   |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|     Copyright (C) 2025, Data Science Institute, University of Wisconsin      |
\******************************************************************************/

//
// variables
//

$swatch-size: 12px;

//
// styles
//

#map {
	position: relative;
	width: 100%;
	height: 100%;
	outline: none;
}

body:not(.colorful) {
	.leaflet-tile-pane {
		filter: grayscale(1);
	}
}

body.dark {
	.leaflet-tile-pane {
		filter: brightness(0.5);
	}
}

body.dark:not(.colorful) {
	.leaflet-tile-pane {
		filter: grayscale(1) brightness(0.5);
	}
}

.swatch {
	width: $swatch-size;
	height: $swatch-size;
	display: inline-block;
	border-radius: 50%;
}

//
// leaflet styles
//

.leaflet-container .leaflet-overlay-pane svg {
	width: auto;
	height: auto;
}

.leaflet-container {
	font-size: 13px;
}

.leaflet-pane {
	width: fit-content;
	height: fit-content;
}