/******************************************************************************\
|                                                                              |
|                                 markers.css                                  |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|     Copyright (C) 2025, Data Science Institute, University of Wisconsin      |
\******************************************************************************/

@use "../colors/coloring";

$habitat-mapper-fill-color: #1f3058;
$habitat-mapper-stroke-color: #a1b0d4;
$habitat-mapper-cluster-color: coloring.faded($habitat-mapper-fill-color, 75%);

$land-cover-fill-color: #00b6ff;
$land-cover-stroke-color: #c7efff;
$land-cover-cluster-color: coloring.faded($land-cover-fill-color, 75%);

$inaturalist-fill-color: #819f27;
$inaturalist-stroke-color: #c3d982;
$inaturalist-cluster-color: coloring.faded($inaturalist-fill-color, 75%);

$mosquito-alert-fill-color: #89373a;
$mosquito-alert-stroke-color: #e8bec0;
$mosquito-alert-cluster-color: coloring.faded($mosquito-alert-fill-color, 75%);

//
// observation markers
//

.marker {
	fill-opacity: 1;
	stroke-width: 1.25;

	&.selected {
		z-index: 1500 !important;
		// stroke: yellow !important;
		outline: 4px solid #ff8080 !important;
	}
}

div.marker {
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;

	// make sure to display - needed in iframe
	//
	z-index: 1000 !important;
}

.marker {
	color: white;
	stroke: black;
	border-color: black;
}

.cluster {
	color: white;
	border-color: white;

	// make sure to display - needed in iframe
	//
	z-index: 1000 !important;
}

.aerial, .hybrid {
	.marker {
		color: white;
		stroke: white;
		border-color: white;
	}

	.cluster {
		color: white;
		border-color: white;
	}
}

.hide-markers {
	.marker, .cluster {
		display: none;
	}
}

//
// observation cluster markers
//

.cluster {
	display: flex;
	text-align: center;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	border-width: 2px;
	border-style: solid;
	border-radius: 50%;
	/* filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5)); */

	> div {
		line-height: 1em;
		margin: auto;
	}
}

//
// data source markers
//

.habitat-mapper {
	i {
		color: $habitat-mapper-fill-color;
	}
	&.marker {
		fill: $habitat-mapper-fill-color;
		stroke: $habitat-mapper-stroke-color;
	}
	&.marker, .swatch {
		background-color: $habitat-mapper-fill-color;
		border-color: $habitat-mapper-stroke-color;
	}
	&.cluster {
		background-color: $habitat-mapper-cluster-color;
		border-color: $habitat-mapper-stroke-color;
	}
}

.land-cover {
	i {
		color: $land-cover-fill-color;
	}
	&.marker {
		fill: $land-cover-fill-color;
		stroke: $land-cover-stroke-color;
	}
	&.marker, .swatch {
		background-color: $land-cover-fill-color;
		border-color: $land-cover-stroke-color;
	}
	&.cluster {
		background-color: $land-cover-cluster-color;
		border-color: $land-cover-stroke-color;
	}
}

.inaturalist {
	i {
		color: $inaturalist-fill-color;
	}
	&.marker {
		fill: $inaturalist-fill-color;
		stroke: $inaturalist-stroke-color;
	}
	&.marker, .swatch {
		background-color: $inaturalist-fill-color;
		border-color: $inaturalist-stroke-color;
	}
	&.cluster {
		background-color: $inaturalist-cluster-color;
		border-color: $inaturalist-stroke-color;
	}
}

.mosquito-alert {
	i {
		color: $mosquito-alert-fill-color;
	}
	&.marker {
		fill: $mosquito-alert-fill-color;
		stroke: $mosquito-alert-stroke-color;
	}
	&.marker, .swatch {
		background-color: $mosquito-alert-fill-color;
		border-color: $mosquito-alert-stroke-color;
	}
	&.cluster {
		background-color: $mosquito-alert-cluster-color;
		border-color: $mosquito-alert-stroke-color;
	}
}

//
// hide / show markers
//

.hide-habitat-mapper {
	.habitat-mapper {
		display: none !important;
	}
}

.hide-land-cover {
	.land-cover {
		display: none !important;
	}
}

.hide-inaturalist {
	.inaturalist {
		display: none !important;
	}
}

.hide-mosquito-alert {
	.mosquito-alert {
		display: none !important;
	}
}