/******************************************************************************\
|                                                                              |
|                                 popups.scss                                  |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|     Copyright (C) 2025, Data Science Institute, University of Wisconsin      |
\******************************************************************************/

@use "../colors/colors";

//
// colors
//

$dark-color: white;
$dark-background-color: colors.$very-very-dark-grey;

//
// styles
//

.leaflet-container {
	.leaflet-popup-content {
		width: 100%;
		max-height: 420px;
		overflow: auto;

		.title {
			font-size: 150%;
			font-weight: bold;
		}

		.value {
			margin: 10px 0;

			label {
				font-weight: bold;
			}
		}

		.buttons {
			float: right;
		}

		.photos {
			display: block;
			width: 100%;
			text-align: center;

			.photo {
				display: inline-flex;
				position: relative;
				flex-direction: column;
				margin: 0;

				a {
					width: 90px;
					height: 90px;
					background-position: center;
					background-size: cover;
				}

				label {
					position: absolute;
					text-align: center;
					padding: 0 5px;
					background: black;
					color: white;
				}
			}
		}
	}

	.leaflet-popup-content-wrapper {
		border-radius: 0;
	}

	.leaflet-pane.leaflet-popup-pane {
		.leaflet-popup-close-button {
			font-size: 1.5em;
			width: 50px;
			height: 30px;
			line-height: 25px;
			color: white;
			background: #ff8080;
		}
	}
}

.leaflet-container .leaflet-popup-content {
	margin: 10px;
}

.fancybox-caption {
	font-family: sans-serif;
	font-weight: bold;
}

//
// dark styles
//

.dark {
	.leaflet-popup-content-wrapper, .leaflet-popup-tip {
		color: $dark-color;
		background: $dark-background-color;
	}
}